.tool-bar-text {
  margin-left: 3.5%;
}
table {
  width: 90%;
  margin-left: 4.5%;
}
.price-cell {
  padding: 3% 4%;
  color: white;
}
.gain-color {
  background-color: green;
}
.loss-color {
  background-color: red;
}
tr:hover {
  background: #f5f5f5;
}

